<footer id="contacto">
    <div class="contenedor footer-content">
        <div class="contact-us">
            <h2 class="brand">HawaiianPizza Desing</h2>
            <p>Developer Designer</p>
        </div>
        <div class="social-media">
            <a href="https://www.facebook.com/josuemorales200101/" class="social-media-icon">
                <i class='bx bxl-facebook'></i>
            </a>
            <a href="https://github.com/hawaiianpizz4" class="social-media-icon">
                <i class='bx bxl-github' ></i>
            </a>
            <a href="https://www.tumblr.com/blog/view/alien11darck" class="social-media-icon">
                <i class='bx bxl-tumblr' ></i>
            </a>
            <a href="https://www.instagram.com/hawaiianpizz4/?hl=es-la" class="social-media-icon">
                <i class='bx bxl-instagram' ></i>
            </a>
        </div>
    </div>
    <div class="line"></div>
</footer>
