
<h2 class="subtitulo">Quienes Somos</h2>

<body>
<section class="box">
    <img src="/assets/imagenpagina2.jpg" width="180" alt="" class="box-img">
    
    <h1>Josué Morales</h1>
    <h2>Software Engineer - Web Developer</h2>
    <p>Estudiante de la carrera de ingenieria en ciencias de la computación en la Universidad Politécnica Salesiana. Cursando el séptimo semestre de la carrera. Actualmente con 20 años de edad. Residiendo en Ecuador desde el 2001</p>
    <ul>
      <li>
        <a href="https://www.facebook.com/josuemorales200101/" class="social-media-icon">
        <i class='bx bxl-facebook'></i>
        </a>
      </li>
      <li>
      <a href="https://github.com/hawaiianpizz4" class="social-media-icon">
        <i class='bx bxl-github' ></i>
      </a>
     </li>
     <li>
     <a href="https://www.tumblr.com/blog/view/alien11darck" class="social-media-icon">
        <i class='bx bxl-tumblr' ></i>
     </a>
    </li>
    <li>
    <a href="https://www.instagram.com/hawaiianpizz4/?hl=es-la" class="social-media-icon">
        <i class='bx bxl-instagram' ></i>
    </a>
    </li>
    </ul>
</section>  
</body>
<br>
<br>
<app-footer></app-footer>