<section class="contenedor" id="servicio">
    <h2 class="subtitulo">Barrio-La Kennedy</h2>
    <div class="contenedor-servicio">
        <img src="./assets/barrio.jpg" alt="no se pudo cargar la imagen">
        
        <div class="checklist-servicio" id="parametrización3">
            
            <div class="service">
                <h3 class="n-service">Descripción</h3>
                <p>La Kennedy (Barrio) es un barrio residencial localizado en el Distrito Metropolitano "San Francisco de Quito". La Kennedy (Barrio) - Distrito Metropolitano de San Francisco de Quito.</p>
            </div>
            <div class="service">
                <h3 class="n-service">Localización</h3>
                <p>El barrio de la Kennedy esta ubicado en el Norte de Quito, a la altura de la Avenida 6 de Diciembre. Tambien puede referenciarse por que esta un poco más arriba del Colegio Técnico Don Bosco</p>
            </div>
            <div class="service">
                <h3 class="n-service">Avenidas Principales</h3>
                <p>Sus principales avenidas son Galo Plaza Lasso, 6 de Diciembre, Rafael Bustamante y Capitán Ramón Borja. </p>
            </div>
            <div class="service">
                <h3 class="n-service">Comercio</h3>
                <p>Cuenta con supermercados, tiendas, farmacias, escuelas,  el diario La Hora, el parque La Luz, parque La Dammer y el mercado John F. Kennedy.</p>
            </div>

            <div class="mapa">
                <h3 class="n-service">Mapa</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7979.612191459433!2d-78.48843157231019!3d-0.14183347660401988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d58556ced4a505%3A0x94436142d12926ec!2sLa%20Kennedy%2C%20Quito%20170138!5e0!3m2!1ses!2sec!4v1638795628246!5m2!1ses!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            
    </div>
    </div>
</section>
<app-footer></app-footer>

