<section class="contenedor" id="servicio">
    <h2 class="subtitulo">Negocio1-La Kennedy</h2>
    <div class="contenedor-servicio">
        <img src="./assets/local1.jpg" alt="no se pudo cargar la imagen">
        
        <div class="checklist-servicio" id="parametrización3">
            
            <div class="service">
                <h3 class="n-service"><span class="number">1</span>Nombre del Negocio</h3>
                <p>Supermercado Santa María.</p>
            </div>
            
            <div class="service">
                <h3 class="n-service"><span class="number">2</span>Tipo de Negocio</h3>
                <p>Supermercado comercial. Dedicado a la compra y venta de productos del aseo, alimentos frescos, alimentos congelados, bebidas, básicos del hogar, cuidado personal, etc. </p>
            </div>

            <div class="service">
                <h3 class="n-service"><span class="number">3</span>Dirección</h3>
                <p>Av. capitan Rafael Ramos y calle f salazar</p>
            </div>
            
            <div class="service">
                <h3 class="n-service"><span class="number">4</span>Hora de Apertura y Cierre</h3>
                <p>Lunes-Viernes: 9:00am-20:00pm</p>
                <p>Sábados: 9:00am-20:00pm</p>
                <p>Domingos: 9:00am-19:00pm</p>
            </div>

            
            <div class="service">
                <h3 class="n-service"><span class="number">5</span>Años de funcionamiento</h3>
                <p>Este supermecado en especial cuenta con más de 5 años de funcionamiento, aproximadamente. </p>
            </div>
    </div>
    </div>
</section>

<section class="contenedor" id="servicio">
    <h2 class="subtitulo">Negocio2-La Kennedy</h2>
    <div class="contenedor-servicio">
        <img src="./assets/local4.jpg" alt="no se pudo cargar la imagen">
        
        <div class="checklist-servicio" id="parametrización3">
            
            <div class="service">
                <h3 class="n-service"><span class="number">1</span>Nombre del Negocio</h3>
                <p>Farmacia Sana Sana.</p>
            </div>
            
            <div class="service">
                <h3 class="n-service"><span class="number">2</span>Tipo de Negocio</h3>
                <p>Farmacia. Negocio dedicado a la venta de productos para el cuidado de la salud y medicinas elaboradas en los mejores laboratorios a excelente precios.</p>
            </div>

            <div class="service">
                <h3 class="n-service"><span class="number">3</span>Dirección</h3>
                <p>Capitán Ramón Borja e7-238</p>
            </div>
            
            <div class="service">
                <h3 class="n-service"><span class="number">4</span>Hora de Apertura y Cierre</h3>
                <p>Lunes-Viernes: 8:00am-21:00pm</p>
                <p>Sábados y Domingos: 8:30am-20:30pm</p>
            </div>

            <div class="service">
                <h3 class="n-service"><span class="number">5</span>Años de funcionamiento</h3>
                <p>Cuenta con más de 7 años de funcionamiento, aproximadamente. </p>
            </div>
    </div>
    </div>
</section>

<section class="contenedor" id="servicio">
    <h2 class="subtitulo">Negocio3-La Kennedy</h2>
    <div class="contenedor-servicio">
        <img src="./assets/local5.jpg" alt="no se pudo cargar la imagen">
        
        <div class="checklist-servicio" id="parametrización3">
            
            <div class="service">
                <h3 class="n-service"><span class="number">1</span>Nombre del Negocio</h3>
                <p>Servicio Automotriz</p>
            </div>
            <div class="service">
                <h3 class="n-service"><span class="number">2</span>Tipo de Negocio</h3>
                <p>Encargado de los procesos de mantenimiento, para mantener las condiciones normales de trabajo de un automóvil, garantizando la seguridad del movimiento.  </p>
            </div>

            <div class="service">
                <h3 class="n-service"><span class="number">3</span>Dirección</h3>
                <p>Jacinto Jijon y Camaño</p>
            </div>
            
            <div class="service">
                <h3 class="n-service"><span class="number">4</span>Hora de Apertura y Cierre</h3>
                <p>Lunes-Viernes: 7:30am-18:30pm</p>
                <p>Sábados: 8:30am-18:0pm</p>
            </div>

            <div class="service">
                <h3 class="n-service"><span class="number">5</span>Años de funcionamiento</h3>
                <p>Cuenta con más de 3 años de funcionamiento, aproximadamente </p>
            </div>
    </div>
    </div>
</section>

<section class="contenedor" id="servicio">
    <h2 class="subtitulo">Negocio4-La Kennedy</h2>
    <div class="contenedor-servicio">
        <img src="./assets/local3.jpg" alt="no se pudo cargar la imagen">
        
        <div class="checklist-servicio" id="parametrización3">
            
            <div class="service">
                <h3 class="n-service"><span class="number">1</span>Nombre del Negocio</h3>
                <p>El Bajío Manabita</p>
            </div>
            <div class="service">
                <h3 class="n-service"><span class="number">2</span>Tipo de Negocio</h3>
                <p>Restaurante</p>
            </div>
            
            <div class="service">
                <h3 class="n-service"><span class="number">3</span>Dirección</h3>
                <p>Diógenes Paredes, Quito 170138</p>
            </div>
            
            <div class="service">
                <h3 class="n-service"><span class="number">4</span>Hora de Apertura y Cierre</h3>
                <p>Lunes-Viernes: 8:00am-16:00pm</p>
                <p>Sábados y Domingos: 8:00am-17:00pm</p>
            </div>

            <div class="service">
                <h3 class="n-service"><span class="number">5</span>Años de funcionamiento</h3>
                <p>Cuenta con 7 años de funcionamiento, aproximadamente </p>
            </div>
    </div>
    </div>
</section>

<section class="contenedor" id="servicio">
    <h2 class="subtitulo">Negocio5-La Kennedy</h2>
    <div class="contenedor-servicio">
        <img src="./assets/local2.jpg" alt="no se pudo cargar la imagen">
        
        <div class="checklist-servicio" id="parametrización3">
            
            <div class="service">
                <h3 class="n-service"><span class="number">1</span>Nombre del Negocio</h3>
                <p>Heidy Heladería</p>
            </div>
            
            <div class="service">
                <h3 class="n-service"><span class="number">2</span>Tipo de Negocio</h3>
                <p>Helados Artesanales</p>
            </div>

            <div class="service">
                <h3 class="n-service"><span class="number">3</span>Dirección</h3>
                <p>José Rafael Bustamante, y, Quito 170138</p>
            </div>
            
            <div class="service">
                <h3 class="n-service"><span class="number">4</span>Hora de Apertura y Cierre</h3>
                <p>Lunes-Viernes: 10:00am-19:30pm</p>
                <p>Sábados y Domingos: 9:30am-19:30pm</p>
            </div>

            <div class="service">
                <h3 class="n-service"><span class="number">5</span>Años de funcionamiento</h3>
                <p>Cuenta con 2 años de funcionamiento, aproximadamente </p>
            </div>
    </div>
    </div>
</section>

<app-footer></app-footer>