<section class="gallery" id="portafolio">
    <div class="contenedor">
        <h2 class="subtitulo">Lugares de Interes</h2>
        <div class="contenedor-galeria">
            <img src="./assets/interes1.jpg" alt="no se pudo cargar la imagen" class="img-galeria">
            <img src="./assets/interes2.jpg" alt="no se pudo cargar la imagen" class="img-galeria">
            <img src="./assets/interes3.jpg" alt="no se pudo cargar la imagen" class="img-galeria">
            <img src="./assets/interes4.jpg" alt="no se pudo cargar la imagen" class="img-galeria">
            <img src="./assets/interes5.jpg" alt="no se pudo cargar la imagen" class="img-galeria">
        </div>
    </div>
</section>

<app-footer></app-footer>
